<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "nav" %>


<!DOCTYPE html>
<html>
  <head>
    <title>Blogon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag :application %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="navbar">
        <p class="leftside"><a href="/users/posts"><%= image_pack_tag 'media/packs/images/blogon.png' %></a></p>
        <p><%= link_to "Home", users_posts_path %></p>
        <p><%= link_to "Create Post", new_users_post_path %></p>
        <div class="rightside">
        <% if logged_in? %>
          <p><%= link_to "Log Out", users_sessions_path, method: :delete %></p>
          <p><%= link_to "Delete Account", users_path, method: :delete, data: { confirm: "Are you sure? \nYou will lose all your posts, and won't be able to recover them!" }%></p>
          <p class="own">You are logged in, <%= current_user.name %></p>
        <% else %>
          <p><%= link_to "Sign Up", new_users_path %></p>
          <p><%= link_to "Login", login_path %></p>
        <%end%>
      </div>
    </div>
  </header>

  <div class="main">
    <body>
      <%= yield %>
    </body>
  </div>
</html>